* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container,
.left-portion,
.right-portion,
.email-form {
  display: flex;
}
.container {
  flex-direction: row;
  background: url("images/bg-pattern-desktop.svg") no-repeat;
}
.left-portion,
.right-portion {
  flex-direction: column;
  flex: 50%;
}
.left-portion {
  margin: 5% 10%;
}
.top-portion {
  display: none;
}
.heading {
  padding-top: 20%;
}
.heading > h1 {
  text-transform: uppercase;
  font-size: 45px;
  text-align: left;
  letter-spacing: 12pt;
  font-weight: 600;
  line-height: 1.25;
}
span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.body-text > p {
  font-size: 15px;
  padding: 3% 25% 3% 0%;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
}
.email-form {
  width: 75%;
  margin: 3% 0%;
  border: 1px solid hsl(0, 6%, 24%);
  justify-content: space-between;
  border-radius: 25px;
}
.email-form input:focus,
.email-form input:active {
  outline: none;
}
input[type="email"] {
  width: 75%;
  height: 42px;
  border: none;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
  background-color: transparent;
}
::placeholder {
  color: hsl(0, 36%, 70%);
}
.ebtn {
  height: 42px;
  width: 20%;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 10px 10px 0px rgba(206, 151, 151, 0.4);
}
.error-msg {
  color: hsl(0, 93%, 68%);
  padding: 0% 0% 20% 5%;
}
.error {
  background: url("images/icon-error.svg") no-repeat;
  padding: 4%;
  justify-content: center;
  align-self: center;
}
.right-portion {
  background: url("images/hero-desktop.jpg") no-repeat;
  background-size: cover;
}
.attribution {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    flex-direction: column;
    background-size: cover;
  }
  .site-logo {
    margin: 10%;
  }
  .left-portion {
    flex: 100%;
    margin: 0%;
  }
  .right-portion {
    display: none;
  }
  .top-portion {
    margin-top: 15%;
    display: block;
  }
  .top-portion > img {
    width: 100%;
  }
  .heading {
    padding-top: 15%;
  }
  .heading > h1,
  .body-text > p {
    padding: 3% 8%;
    text-align: center;
  }
  .email-form {
    width: 85%;
    margin: 5%;
  }
}
